html,
body {
  width: 100%;
  /* height: 100%; */
}

body {
  box-sizing: border-box;
  font-size: 18px;
  background-color: hsl(257, 40%, 49%);
  margin: 0;
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
}

.bg-mobile {
  display: none;
}

img.bg-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wraper {
  position: relative;
  margin: 45px 65px 0;
}

nav {
  margin-bottom: 60px;
}
nav img {
  width: 200px;
}

section {
  display: flex;
  gap: 50px;
  bottom: 15px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
}

.details p {
  font-size: 1em;
  word-spacing: 3px;
  line-height: 30px;
  color: hsl(0deg 0% 100% / 90%);
  margin-bottom: 30px;
}

button {
  font-size: 1.2em;
  padding: 15px 90px;
  border-radius: 40px;
  border: none;
  box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
  color: hsl(257, 40%, 49%);
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.social {
  margin-right: 0;
  margin-left: auto;
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.social div > svg {
  width: 50px;
}

.social div:hover svg .st1 {
  fill: hsl(300, 69%, 71%);
}
.instagram:hover svg .st0 {
  stroke: hsl(300, 69%, 71%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(14deg 100% 57%);
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: hsl(0, 0%, 100%);
}

@media (max-width: 1160px) {
  .bg-desktop {
    display: none;
  }
  .bg-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .wraper {
    position: relative;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section > img {
    width: 90%;
  }
  .details {
    text-align: center;
    font-size: 12px;
  }
  .details p {
    font-size: 1.2em;
    line-height: 25px;
    padding: 0px 25px;
  }
  .social {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 145px;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
  .social div > svg {
    width: 40px;
  }
}
